@using WebApplication1.Models;
@helper Render(ClientUserViewModel cuvmodel)
{
    foreach (var client in cuvmodel.Clients)
    {
    @client.Name
            <ul>
             @foreach (var user in cuvmodel.Users.Where(x => x.ClientId == client.Id))
             {
                <li>@user.Name</li>
    }
            </ul>
    }
}