@model WebApplication1.Models.ClientUserViewModel

<div class="jumbotron">
	<h1>@Model.Title</h1>
	<p class="lead">Use this area to display a list of clients and users under each client</p>

</div>
<div class="body-content">
	<div class="caption">
		Use this area to create a simple form to add a client.
	</div>
	<div class="caption">
		Use this area to create a simple form to add a User.
	</div>
</div>

